body {
  background: linear-gradient(
    243deg,
    rgb(255, 253, 221) 13.4%,
    rgb(248, 215, 215) 82.1%
  );
  margin: 100px 100px 200px 100px;
}

.weather-app {
  margin: 40px 40px 10px 40px;
  padding: 40px;
  max-width: 1000px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  font-family: "PT Serif", serif;
  font-weight: 500;
  color: #3e3245;
  border-radius: 4px;
  box-shadow: 5px 5px 7px rgb(65 50 100 / 8%);
}

.city-search {
  border: 3px #362999 solid;
  border-radius: 6px;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.enter-search {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #362999;
  background: transparent;
  width: 100%;
  margin-top: 20px;
}

.btn-primary {
  margin: 30px 0 15px 0;
  background: #362999;
  padding: 10px 20px;
  font-size: 17px;
}

.city-temp {
  border: 3px #362999 solid;
  text-align: center;
  border-radius: 90px;
  margin-bottom: 80px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 27px;
}

.temp-now {
  font-size: 36px;
  font-weight: 800;
  position: relative;
}

.units {
  font-size: 16px;
  position: relative;
  top: -12px;
}

.units .active {
  color: #3e3245;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

.units .celsius {
  text-decoration: none;
}

.units .fahrenheit {
  text-decoration: none;
}

.weather-info {
  border: 3px #362999 solid;
  border-radius: 6px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 35px;
}

.weather-info img {
  width: 50px;
  height: 50px;
}

.clouds {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
}

.date {
  text-align: center;
  border: 1px #362999 solid;
  border-radius: 4px;
  margin-bottom: 15px;
}

.forecast-title {
  text-align: center;
  padding: 15px;
  color: #3e3245;
  font-weight: 600;
}

.daily-forecast {
  border: 3px #362999 solid;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 17px;
}

.coder {
  text-align: left;
  color: #362999;
  font-size: 13px;
  font-family: "PT Serif", serif;
  margin-left: 40px;
}

.name-link {
  text-decoration: none;
}

.name-link:hover {
  text-decoration: underline;
}

.hub-link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
